version: "3.9"

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
      - mosquitto

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sensordb
    ports:
      - "3306:3306"

  mosquitto:
    image: eclipse-mosquitto
    ports:
      - "1883:1883"
